#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
  display: flex;
  justify-content: center;
}

#header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 452px){
  #header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
